{% extends 'base.html' %}
{% block content %}
    <p>Информационная система ИС «АВУП» предназначена для ведения учета продовольствия в продуктовом магазине. Включает
        в себя такие функции по хранению и обработке данных связаных с продовольствыием.</p>
    <p>Данная информационная система хранит данные такие как: </p>
    <div class="about">
    <span>1. Каталог товаров имеющихся в магазине</span>
    <span>2. Информация о поставке товаров</span>
    <span>3. Информация о поставщике товара</span>
    <span>4. Информация о производителе товара</span>
    <span>5. Информация о группах товаров</span>
    </div>
    <p>Информационная система ИС «АВУП» разработанная студентом БГПУ группы 4Б: Емельяновым Кириллом </p>
    <p>Предложения по поводу улучшения информационной системы писать на почту kirill959584@gmail.com</p>
{% endblock %}