{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ИС</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/system.css' %}">
</head>
<body>
<div class="wraper">
    <div class="main">
        <div class="header">
            <a href="{% url 'home' %}"><div class="logo"><h2>ИС «АВУП»</h2></div></a>
            <ul class="menu">
                <li><p><a href="{% url 'catalog_list' %}">Каталог</a></p></li>
                <li><p><a href="{% url 'supply_list' %}">Поставка</a></p></li>
                <li><p><a href="{% url 'provider_list' %}">Поставщик</a></p></li>
                <li><p><a href="{% url 'manufacturer_list' %}">Производитель</a></p></li>
                <li><p><a href="{% url 'groups_list' %}">Группы товаров</a></p></li>
                <li><p><a href="{% url 'about_system' %}">О системе</a></p></li>
            </ul>
        </div>
            <div class="content">
                    {% block content %}
                    {% endblock %}
            </div>
    </div>
</div>
</body>
</html>



