{% extends 'base.html' %}
{% block content %}
    <a href="#" class="new_product"><span class="glyphicon glyphicon-plus"></span></a>
                <table class="table">
                    <tr ><th>ID</th><th>Название продукта</th><th>Производитель</th><th>Цена</th><th>Группа товара</th></tr>
                    {% for i in catalogs %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.name_product }}</td>
                        <td>{{ i.manufacturer }}</td>
                        <td>{{ i.price }}</td>
                        <td>{{ i.groups_products }}</td>
                    </tr>
                    {% endfor %}
                 </table>
{% endblock %}