{% extends 'base.html' %}
{% block content %}
    <h1>Вас приветствует Информационная система ИС «АВУП»</h1>

    <p>Данная информационная система позволяет избежать бумажную работу связанную с хранением продуктов и принятием поставки.</p>
    <img class="block1" src="../static/images/image4.jpg" alt="Car with products">
    <p>ИС «АВУП» позволяет добавлять, удалять, изменять и хранить записи о товарах поставщиках и поставках в одном месте</p>
    <div class="block2"><img class="image" src="../static/images/images1.png" alt="Supply" >
                        <img class="image2" src="../static/images/image5.png" alt="Write about supply">
    </div>
{% endblock %}