{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'new_supply' %}" class="new_product"><span class="glyphicon glyphicon-plus"></span></a>
                <table class="table">
                    <tr ><th>ID</th><th>Дата поставки</th><th>Количество</th><th>Цена</th><th>Поставщик</th><th>Товар</th></tr>
                    {% for i in supplys %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.date_of_supply }}</td>
                        <td>{{ i.quantity }}</td>
                        <td>{{ i.price }}</td>
                        <td>{{ i.provider}}</td>
                        <td>{{ i.products}}</td>
                    </tr>
                    {% endfor %}
                 </table>
{% endblock %}